<mat-card>
  <mat-card-title>
    <div [routerLink]="['/projects/', project.id]" class="well hoverwell thumbnail">{{project?.name}}</div>
  </mat-card-title>
  <mat-card-subtitle>
    <div><strong>Project Start Date:</strong> {{project?.startDate | date: 'shortDate'}}</div>
    <div><strong>Total Hours To Date:</strong> {{ project?.totalHours }}</div>
    <div><strong>Description:</strong> {{project?.description}}</div>
    <div><strong>Total # Employees involved:</strong><a [routerLink]="['/employees/', project.id]" class="well hoverwell thumbnail">{{project.employeeCount}}</a></div>
  </mat-card-subtitle>
</mat-card>
<br/>
