<div>
  <mat-card-title>
    Cap/Expense Projects
    <div>
      Month End: <select><option *ngFor="let month of projectMonths" [selected]="month.selected">{{month.month}}</option></select>
      Year: <select><option *ngFor="let year of projectYears" [selected]="currentYear">{{year}}</option></select>
    </div>
  </mat-card-title>
  <hr>
  <div class="row">
    <div *ngFor="let project of projects" class="col-md-5">
      <project-thumbnail [project]="project" (projectClicked)="handleProjectClicked($event)"></project-thumbnail>
    </div>
  </div>
</div>
